<div class="container">

    <div class="row">
         
        <div class="col-md-12">
             <div class="l-main-container font-white center">

                <h1 class="font-title-xxxl margin-bottom-30">About This Site</h1>

                <h3 class="font-title-l">Who made this?</h3>

                <p class="margin-bottom-30">
                    This site is developed and designed by me, Ban Park. <br>If you want to send me any comments, feel free to <a href="#/contact" class="underline font-white">Contact Me</a> 
                </p>
                
                <h3 class="font-title-l">Why this site is made</h3>

                <p>
                    This site is my portfolio site. There are various reasons to build this site. The first thing is to show my front-end works rather than reading boring resume and the most importantly to have fun with AngularJS. 

                    <!-- </br></br>The most hardest part when building this site was coding the AngularJS way but it was worth every minutes my time. -->

                </p>

                <h3 class="font-title-l">What were used to build this site</h3>

                <p>
                    HTML5, CSS3, Sass, Compass, Boostrap 3 Sass Ver, AngularJS, Grunt
                </p>

                

               <!--  <span class="icon-sign_big" style="margin-left: 46px;"></span> -->

              

             </div>

           
        </div> <!-- col -->

    </div> <!-- row -->

</div><!-- container -->




 