<div class="container">

    <div class="row">
         
        <div class="col-md-12">
            
            <div class="c-main-hero">
                <img src="images/logo_main-hero.png" alt="" class="c-main-hero__logo">

                
                <!-- <div class="m-animated-logo" ng-style="{'background-position': animatedLogo }"></div> -->

                <div class="c-main-hero__title">Web Frontend Engineer</div>
        
                <a href="#/works" class="button-3nd button__xxl button__wide">View Projects</a>
                <a href="#/about-me" class="button-3nd button__xxl button__wide">About Me</a>
                <div class="font-white font-sub">Last Updated on 11-22-2016
                    </br> - "About Me" Is Revised 
                    </br> - Added swipe events for the touch device


                </div>
            </div>
              

        </div> <!-- col -->

    </div> <!-- row -->

</div><!-- container -->




 


 